<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Adduser</servlet-name>
    <servlet-class>com.user.Adduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adduser</servlet-name>
    <url-pattern>/servlet/Adduser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addequipment</display-name>
    <servlet-name>Addequipment</servlet-name>
    <servlet-class>com.equipment.Addequipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addequipment</servlet-name>
    <url-pattern>/Addequipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newequipment</display-name>
    <servlet-name>Newequipment</servlet-name>
    <servlet-class>com.equipment.Newequipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newequipment</servlet-name>
    <url-pattern>/servlet/Newequipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteuser</display-name>
    <servlet-name>Deleteuser</servlet-name>
    <servlet-class>com.user.Deleteuser</servlet-class>
    <init-param>
      <description>Deleteuser</description>
      <param-name>Deleteuser</param-name>
      <param-value>Deleteuser</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuser</servlet-name>
    <url-pattern>/servlet/Deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addline</display-name>
    <servlet-name>Addline</servlet-name>
    <servlet-class>com.line.Addline</servlet-class>
    <init-param>
      <description>Addline</description>
      <param-name>Addline</param-name>
      <param-value>Addline</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addline</servlet-name>
    <url-pattern>/servlet/Addline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteline</display-name>
    <servlet-name>Deleteline</servlet-name>
    <servlet-class>com.line.Deleteline</servlet-class>
    <init-param>
      <description>Deleteline</description>
      <param-name>Deleteline</param-name>
      <param-value>Deleteline</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteline</servlet-name>
    <url-pattern>/servlet/Deleteline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletepoint</display-name>
    <servlet-name>Deletepoint</servlet-name>
    <servlet-class>com.equipment.Deletepoint</servlet-class>
    <init-param>
      <description>Deletepoint</description>
      <param-name>Deletepoint</param-name>
      <param-value>Deletepoint</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletepoint</servlet-name>
    <url-pattern>/servlet/Deletepoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addmission</display-name>
    <servlet-name>Addmission</servlet-name>
    <servlet-class>com.mission.Addmission</servlet-class>
    <init-param>
      <description>Addmission</description>
      <param-name>Addmission</param-name>
      <param-value>Addmission</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addmission</servlet-name>
    <url-pattern>/servlet/Addmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removepoint</display-name>
    <servlet-name>Removepoint</servlet-name>
    <servlet-class>com.line.Removepoint</servlet-class>
    <init-param>
      <description>Removepoint</description>
      <param-name>Removepoint</param-name>
      <param-value>Removepoint</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removepoint</servlet-name>
    <url-pattern>/servlet/Removepoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>com.mission.Attendance</servlet-class>
    <init-param>
      <description>Attendance</description>
      <param-name>Attendance</param-name>
      <param-value>Attendance</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/servlet/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileupload</display-name>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>com.record.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/servlet/Fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recordtoequipment</display-name>
    <servlet-name>Recordtoequipment</servlet-name>
    <servlet-class>com.record.Recordtoequipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recordtoequipment</servlet-name>
    <url-pattern>/servlet/Recordtoequipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unpassrecord</display-name>
    <servlet-name>Unpassrecord</servlet-name>
    <servlet-class>com.record.Unpassrecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unpassrecord</servlet-name>
    <url-pattern>/servlet/Unpassrecord</url-pattern>
  </servlet-mapping>
</web-app>